*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  Link:hover{
    color:white;
  }
}

.main-item{
  margin:1rem;
  height:max-content;
  width:15rem;
  
  border:0.1px solid rgb(197, 202, 197);
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem #f4f1f1;
  /* padding-bottom: 2rem; */
 
}
.main-item:hover{
  animation:mymove 2s ease-in-out;
}
@keyframes mymove {
  25%{
    translate:2%
  }
  
}
.item-img{
  height:10rem;
  width: inherit;
  padding-right:0.1rem;
  border-radius: 0.3rem 0.3rem 0rem 0rem; 
  
  
  
}

.add-btn{
  background-color: #3f7ae1;
  color:white;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin: 0.4rem 0 0.6rem 0;
  font-family:Arial, Helvetica, sans-serif;
  border:hidden;
    
}
.add-btn:hover {
  background-color: #154b65;
}
.items-container{

  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  
}

.item-container{
  margin:0.5rem 0;
  font-family:cursive;
  z-index:1;
color: #3f7ae1;
  
  
}

.navbar{
  display:flex;
  padding:1rem;
  background-color: rgba(7, 119, 117, 0.959);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  justify-content: space-between;
  color:rgb(219, 235, 235);
  width: 100%;

    
}
.home-link{
  text-decoration: none;
  color:#fcfc00;
  font-family:cursive;
  font-size:larger;
}
.home-link:hover{
  animation: heading 2s ease-in-out;
}
@keyframes heading {
  25%{
   
    translate: 5%;
    color:#3cff6d89
  }
  
}
.toggle-btn{
  display:none;
  background-color: initial;
  border: 0;
  font-size: large;
  color:inherit;
}
.toggle-btn:hover{
  animation: rotate 1s ease-in;
  
}
@keyframes rotate {
  50%{
    transform: rotateZ(90deg);
    color: rgb(242, 249, 27);
  }
  
  
}
.nav-links{
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  margin-right:3rem;
  justify-content: space-between;
    align-items: center;

  
}
@media screen and (max-width:600px) {
  .nav-links{
    display: none;
  }
  .navbar{
    padding:0.7rem;
    width: 100%;
  }

  .toggle-btn{
    display: inline;
  }
}
.link{
  justify-content: space-between;
  margin-left: 1rem;
  text-decoration: none;
  color:rgb(251, 245, 82);

}
.link:hover{
  color:aliceblue;
}

.about{
  text-align:center;
  position: relative;
  top:2rem;
  font-family:Arial, Helvetica, sans-serif;
  
}

.empty-cart{
  /* text-align: center; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  margin: auto;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-success{
  margin-bottom: 2rem;
color:rgb(59, 158, 13);
}

.cart-item{

  display: flex;
  margin-bottom:1.2rem;
  justify-content: space-between;
  margin-right: 5rem;
  background-color:rgb(255, 255, 255);
  border:0.1px solid rgb(238, 226, 226);
  padding: 0 1rem 0rem 0rem;
  border-radius:0.2rem;
  align-items: center;
  font-family: verdana;
  
}
.cart-list{
 
  display:flex;
  align-items: flex-start;
  font-size:1.0rem;
  
}
.cart-img{
  height:7rem;
  width: 7rem;
  margin-right:1rem;
  border-radius:0.2rem 0rem 0 0.2rem;
 
  
}
.cart-desc{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding-top: 0.3rem;
  font-family: cursive;
}
.remove-btn {
  color: rgb(243, 9, 9);
  font-size: 0.9rem;
  border: 0;
  background-color: inherit;
  margin-top: 0.2rem;
  font-family: cursive;

}

.remove-btn:hover {
  color: rgb(188, 1, 1);
}
@media screen and (max-width:800px) {
  .cart-desc{
    display:flex;
    font-size:small;
    
    
  }
  .cart-item{
   margin-left:3.6rem;
   
  }
  .cart-img{
    height: 5rem;
    width: 5rem;
    margin-right: 0.4rem;
  }
    .remove-btn {
      
      font-size:small;
      border: 0;
    }
}
.cart{
 
  margin-left:2rem;
  display:flex;
  flex-direction: column;
}

@media screen and (max-width:600px) {
  
    .items-container{
      flex-direction: column;
    }
    .main-item{
      width: 50vw;
      
    }
  
    .item-img {
      width: inherit;
      height:13rem;
    }
  
   
}
.cart-header{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.order-btn{
  width:5.5rem;
  background-color: #3b5998;
  color:white;
  padding:0.25rem;
  border-radius: 0.5rem;
  border:0;
  margin: auto;
  margin-bottom: 1rem;
  
  
}
.order-btn:hover{
  background-color: #154b65;
}


.footer{
  text-align: center;
  font-family: arial;
  padding:0.3rem;
  margin-top: 3rem;
  color:rgb(4, 61, 147);
 
 
}
.emoji-container{
 font-size: 10rem;
  color:rgb(60, 180, 140);
  margin-top: 2rem;
 
}

.quantity{
  background-color: inherit;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  border:1px solid rgb(179, 179, 167);
  border-radius: 0.2rem;
  
}
.quantity-manip:hover{
  background-color: rgb(169, 219, 210);
}
  
/* singleItem page */
.singleItemImage{
  height:17rem;
  width: 17rem;
  border-radius: 0.7rem;
  float: left;
}

.single-item-container{
display:flex;
height: max-content;
width: fit-content;
font-family: arial;
padding:0.5rem;
}

.single-item-desc{
    display: flex;
    flex-direction: column; 
    align-items: baseline;
    margin-top: 0.31rem;
    justify-content: space-between;
  }
  .single-add-btn {
      padding: 0.3rem;
      border-radius: 0.4rem;
      color: #ffffff;
      background-color: #3f7ae1;
      border:0;
    }
  .single-add-btn:hover {
      background-color: black;
    }

@media screen and (max-width:600px){
  .single-item-desc{
    font-size: small;
  }
  .singleItemImage{
    height: 10rem;
    width: 10rem;
  }
  .single-add-btn{
    padding:0.2rem;
    font-size: 0.7rem;
    margin-top: 1rem;
  }
}
.item-link{
  text-decoration: none;
   color:black;
}
.item-link:hover{
  text-decoration: underline;
}

.modal-message {
  text-align: center;
  font-family: cursive;
  color:rgb(51, 149, 205);
  padding-top:0.2rem;
  transition: 1ms;
  z-index:100;
  
}

/* /sidebar */
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  font-family: cursive;
  display: none ;
  position: absolute;
  width: 20%;
  z-index: 1;
  translate:-100%;

  height: max-content;
  padding: 0.1rem 0.1rem 0.1rem 0rem;
  border: 0.1px solid #929191;
  border-top: 0;
  
}
.show-sidebar{
  display: flex;
  animation : show-bar 0.5s ease-in-out;
  translate: 0;
}
@keyframes show-bar {
  0%{
    translate: -100%;
  }
  
  
  100% {
      translate: 0%;
      }
  
}

.home-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar-link{
  text-decoration: none;
  font-size: 0.9rem;
  color:#2b77da;
  width:100%;
  background-color: rgb(230, 235, 235);
  border:0.06px solid rgb(204, 198, 198);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 1rem 0 1rem 0.2rem;
  margin-bottom:0.1rem ;
}
.sidebar-link:hover{
  color:rgb(67, 87, 76)
}
.close-sidebar-btn{
  color:red;
  font-size: large;
}
.close-sidebar-btn:hover{
  color:rgb(30, 24, 17)
}

.error-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: cursive;
}